.git/
.github/

target/
tests/

.dockerignore
.editorconfig
.env
.env.example
.gitignore

diesel.toml
Dockerfile.dev
Dockerfile.migrations
Dockerfile.prod
endpoints.md
LICENSE
openapi.yaml
README.md
rust-toolchain.toml
rustfmt.toml
